*{
  box-sizing: border-box;
}

header.header{
  /* border: 1px solid red; */
  width: 1200px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin: 0 0 20px 0;
}

header.header a.logo_img{
  /* border: 1px solid green; */
  display: inline-block;
  height: 150px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 10px;
  }

i.fa-user-circle{
  font-size: 3rem;
  float: right;
  padding: 27px;
}
header.header a.user i.user{
  width: 100px;
  height: 100px;

}

header.header a.logo_img img{
  height: 150px;
  width: 400px;
  border-radius: 10px;
}

header.header nav.nav{
  /* border: 1px solid green; */
  width: 700px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: 150px;
  /* display: block; */
}
a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

header.header nav.nav ul.nav_list{
  list-style: none;
  margin: 0;
  padding: 0;

  /* height: 200px; */
}

header.header nav.nav ul.nav_list > li{
  display: inline-block;
  font-size: 24px;
  padding: 0 10px;
}

header.header nav.nav ul.nav_list > li > a:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
  /* border: 1px solid red; */
}
